/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

body{
    font-family: 'PT Sans', sans-serif;
}

img{
    display: block;
    width: 100%;
}

.container{
    width: 100%;
}

.mini-cont{
    max-width: 71.25rem;
    margin: 0 auto;
}

.nav-bar{
    background-color: #0084fd;
    color: #d9edff;
}


ul li a{
    text-decoration: none;
    color: #ffffff;
}

ul li{
    list-style: none;
}

.btn{
    color: #000000;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}


/* header */
.navigazione{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.6875rem; 
}

.list-nav{
    display: flex;
    gap: 2.1875rem;
    align-items: center;
}

.menu-icon{
    display: none;
}

.btn-nav{
    padding: .4375rem .9375rem;
    border-radius: .9375rem;
}

/* /header */

/* main */

/* seazione 1 */

.sezione1{
    padding: 3.125rem 0 6.5625rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5625rem;
    
}

.blocco{
    width: calc((100% - 3.125rem) / 3);
    background-color: #b5ddff;
    border-radius: 1.25rem;
    display: flex;
}

.blocco-big{
    width: calc((200% - 1.5625rem) / 3);
    
}
.left{
    width: 50%;
    padding: 2.5rem 0 0 1.5625rem;
}
.right{
    width: 50%;
    display: flex;
}

.right .img-sez1{
    width: 100%;
    display: block;
    padding: 4.375rem 4.375rem 0 0;
    justify-content: flex-end;
}

.p-sez1{
    margin: 2.5rem 0;
    line-height: 1.875rem;
    color: #5a6e7f;
    font-size: 1.125rem;
    font-weight: bold;
}

.text-sez1{
    font-size: 1.5rem;
    color: #0084fd;
}

.btn-app{
    padding: .5rem 3.4375rem;
    border-radius: 1.5625rem;
    font-size: .9375rem;
    background-color: #0084fd;
    color: #ffffff;
    font-weight: bolder;
    letter-spacing: .125rem;
    cursor: pointer;
}

.fa-apple{
    margin-right: .3125rem;
}

.blocco-mini{
    display: block;
    text-align: center;
    padding: 1.875rem 1.5625rem 0 1.5625rem;
}

.icon{
    font-size: 3.75rem;
    color: #0084fd;
    padding-bottom: 1.5625rem;
}

/* /seazione 1 */

/* sezione2 */

.sezione2-cont{
    background-color: #9593e6;
}
 .sezione2{
    display: flex;
    flex-wrap: wrap;
    padding: 0 8.4375rem 2.1875rem 8.4375rem;
    gap: 4.0625rem; 
 }

 .sez2-left{
    width: calc(100% / 2 - 4.0625rem);
    color: #ffffff;
    padding-top: 7.8125rem;
 }

 .sez2-right{
    width: calc(100% / 2);
    background-color: #ffffff;
    margin: 18.75rem 0 4.0625rem 0;
    border-radius: .9375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
 }

 .text-sez2{
    font-size: 2.125rem;
    padding: 8.125rem 0 3.75rem 0;
 }

 .p-sez2{
    font-size: 1rem;
    padding-bottom: 4.0625rem;
    line-height: 1.5625rem;
 }

 .img-planning2{
    width: 50%;
    padding-top: 1.875rem;
 }
 
 .titolino-sez2-right{
    font-size: 1.5rem;
    padding-top: 1.5625rem;
 }


 .p-right-sez2{
    font-size: 1.125rem;
    padding: 1.5rem 2.5rem;
    font-style: italic;
 }

 .icon-arrow{
    background-color: #9593e6;
    border-radius: 100%;
    padding: .625rem .9375rem;
    margin: 2.5rem 0 1.875rem 0;
 }

/* /sezione2 */

/* sezione3 */

.sezione3{
    padding: 4.0625rem 0 6.875rem 0;
    display: flex;
    flex-direction: column;
    gap: 2.1875rem;

}

.blocco-sez3{
    
    background-color: #9792e4;
    border-radius: 3.125rem;
    display: flex;
    align-items: center;
    padding: 1.875rem 3.75rem 2.8125rem .9375rem;
}

.testo-sez3{
    text-align: center;
}

.p-sez3{
    font-size: 1.25rem;
    line-height: 2.1875rem;
}


.titolo-sez3{
    font-size: 3rem;
    color: #9792e4;
    padding-top: 2.5rem;
}

.p-top-sez3{
    padding: 3.125rem 0;
}

.p-sez3-bottom{
    color: #ffffff;
    padding-bottom: 2.1875rem;
}


.img-testimonials{
    clip-path: circle(38%); 
    margin: 0 -3.125rem; 
    object-fit: cover;
}

.blocco-left3{
    margin-right: -3.125rem;
}

.descrizione-img{
    color: #ffffff;
    font-size: 1.25rem;
}

/* /sezione3 */

/* sezione4 */

.sezione4{
    padding: 4.6875rem 0 4.0625rem 0; 
}

.blocco-sez4{
    width: calc((100% - 3.75rem) / 3);
    background-color: #ffffff;
    border-radius: 1.25rem;
    padding: 3.4375rem 2.5rem 2.1875rem 1.875rem;
}

.sezione4-cont{
    background-color: #9792e4;
}

.blocchi-sez4{
    gap: 1.875rem;
    display: flex;
    flex-wrap: wrap; 
}

.testo-sez4{
    padding-bottom: 4.375rem;
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
}

.number{
    font-size: 4.5rem;
    font-weight: bold;
    color: #9792e4;
}

.tit-sez4{
    font-size: 1.5rem;
    padding: 1.5625rem 0;
    color: #9792e4;
}

.p-sez4{
    line-height: 1.5625rem;
    color: #737373;
}

.btn-sez4{
    padding: .4375rem 2.8125rem;
    border-radius: 1.5625rem;
    font-size: .9375rem;
    background-color: #9792e4;
    color: #ffffff;
    font-weight: bolder;
    letter-spacing: .125rem;
    cursor: pointer;
    margin: 1.875rem 0;
}


/* /sezione4 */

/* sezione5 */

.sez5-cont{
    display: flex;
    gap: .625rem;
    padding: 5.9375rem 2.8125rem 10.3125rem 2.8125rem;
}


.sez5-left{
    width: calc(200% / 2 - 6.25rem);
 }

 .sez5-right{
    width: calc(80% / 2);
 }

 .tit-sez5{
    font-size: 4.5rem;
    color: #9792e4;
 }

 .p-sez5{
    font-size: 1.25rem;
    line-height: 2.5rem;
    color: #111111;
 }

 .p-sez5-left1{
    padding: 4.6875rem 0;
 }

 .p-sez5-left2{
    padding-bottom: 9.6875rem;
 }

 .img-about{
    clip-path: circle(48%);
 }

 .img-icon{
    position: relative;
 }

 .icon-per-img{
    font-size: 4.375rem;
    color: #9792e4;
    position: absolute;
    right: .9375rem;
    top: 1.875rem;
 }

 

 .tit-sez5-icon{
    font-size: 1.875rem;
    color: #9792e4;
    font-weight: bolder;
    padding: 2.1875rem 0px 2.1875rem 0;
 }

 .btn-icon-img{
    color: #ffffff;
    background-color: #9792e4;
    padding: .5rem .9375rem;
    border-radius: .9375rem;
 }

 .fa-linkedin{
    padding-right: .625rem;
 }

/* /sezione5 */

/* sezione6 */

.sezione6-cont{
    background-color: #9792e4;
}

.sezione6{
    text-align: center;
    padding: 4.0625rem 0;
    color: #ffffff;
}

.tit-mini6{
    font-size: 3rem;
    padding: 2.1875rem 0 3.75rem 0;
}

.tit-big6{
    font-size: 6rem;
    color: #fdc15f;
}

.p-sez6{
    line-height: 1.875rem;
    padding: 3.125rem 0 2.1875rem 0; 
}

.btn-big{
    background-color: #ffffff;
    color: #9792e4;
    border-radius: 2.5rem;
    padding: 1.5625rem 5rem;
    font-weight: bold;
    font-size: .9375rem;
}

.text-cop{
    font-size: .875rem;
    padding-top: 2.1875rem;
}

.text-sott{
    text-decoration: underline;
}



/* /sezione6 */

/* /main */

/* footer */

.foot-cont{
   background-color: #333333; 
}

.footer-sez{
    text-align: center;
    width: 25%;
    padding-top: 2.8125rem;
    color: #ffffff;
}

.p-foot-bottom{
    padding: 4.375rem 0 2.5rem 0;
}

.foot-sott{
    color: #9792e4;
    text-decoration: underline;
}

/* /footer */




/* responsive */

/* tablet da 0 a 992 */

@media screen and (max-width: 992px) { 
    
    /* header */
    .list-nav{
        display: none;
    }
    .menu-icon{
        display: block;
    }
    .mini-cont{
        padding: 0 1.875rem;
    }
    /* /header */

    /* main */
    
    /* sezione1 */
    .sezione1{
        padding-top: 3.125rem;    
        padding-bottom: 6.5625rem;
    }

    .blocco{
        display: block;
    }
    .left{
        width: 70%;
    }
    .right{
        width: 60%;
    }

    /* /sezione1 */

    /* sezione2 */
    .sezione2{
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 7.8125rem;
    gap: 0px;
       
}

    .sez2-left, .sez2-right{
        width: 100%;
        margin: 0 0 3.75rem 0; 
        padding: 0;
    }

    .p-sez2{
        padding: 0;
    }
    /* /sezione2 */

    /* sezione3 */
    .sezione3{
        padding-top: 4.0625rem;
        padding-bottom: 6.875rem;
    }
    /* sezione3 */
    
    /* sezione4 */
    .blocchi-sez4{
         padding-bottom: 4.0625rem;
    }

    .blocco-sez4{
        width: calc((100% - 1.875rem) / 2); 
    }

    .testo-sez4{
        padding: 4.6875rem 0;
    }
    /* /sezione4 */
    
    /* sezione5 */
    .icon-per-img{
        right: 0;
        top: 0;
    }

    /* /sezione5 */

    /* sezione6 */
    .sezione6{
        padding: 4.0625rem 0;

    }
    /* /sezione6 */

    
    /* /main */

    /* footer */
    .footer-sez{
        padding-top: 2.8125rem;
        width: 50%;
    }
    
    /* /footer */
   
}
/* mobile da 0 a 768 */

@media screen and (max-width: 768px) {
    
    /* header */
    .fa-bars{
        font-size: 1.625rem;
     }
     /* /header */

     /* main */

     /* sezione1 */

     .sezione1{
        display: block;
        max-width: 48rem;
     }

     .blocco{
        display: block;
        width: 100%;
     }

     .left,
     .right{
        width: 100%;
        padding: 1.25rem 1.5625rem 0 1.5625rem;
        text-align: start;
     }

     .img-sez1{
        width: 100%;
        margin-left: 2.1875rem;
     }

     .blocco{
        margin-bottom: 1.5625rem;
     }

     .blocco-mini{
        padding-bottom: 1.5625rem;
     }

    /* /sezione1 */

    /* sezione2 */
    /* sezione2 */

     /* sezione3 */
     .blocco-sez3{
       display: block;
     }

     .blocco-left3{
        margin-left: 5.625rem;
     }

     .blocco-right3{
        text-align: center;
        margin-left: 2.1875rem;
     }
     

    /* sezione3 */
    
    /* sezione4 */
   
   .blocco-sez4{
       width: 100%; 
   }
    /* /sezione4 */

    /* sezione5 */

    .sez5-cont{
        display: flex;
        flex-direction: column;
        padding-top: 6.25rem;
        padding-bottom: 5rem;
    }
    
    .sez5-left{
        width: 100%;
     }
    
     .sez5-right{ 
        width: 100%;
     }

    .p-sez5-left2{
        padding-bottom: 0;
    }

    /* /sezione5 */

    /* sezione6 */

    br{
        display: none;
    }
    
    /* /sezione6 */

    /* /main */

    /* footer */
    .footer-sez{
        width: 100%;
    }
    
    /* /footer */
}