/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

body{
    font-family: 'PT Sans', sans-serif;
}

.container{
    width: 100%;
}

.mini-cont{
    max-width: 1140px;
    margin: 0 auto;
}

.nav-bar{
    background-color: #0084fd;
    color: #d9edff;
}


ul li a{
    text-decoration: none;
    color: #ffffff;
}

ul li{
    list-style: none;
}

.btn{
    color: #000000;
    background-color: #ffffff;
    border: none;
}


/* header */
.navigazione{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px; 
}

.list-nav{
    display: flex;
    gap: 35px;
    align-items: center;
}

.menu-icon{
    display: none;
}

.btn-nav{
    padding: 7px 15px;
    border-radius: 15px;
}

/* /header */

/* main */

/* seazione 1 */

.sezione1{
    padding: 50px 0 105px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    
}

.blocco{
    width: calc((100% - 50px) / 3);
    background-color: #b5ddff;
    gap: 25px;
    border-radius: 20px;
    display: flex;
}

.blocco-big{
    width: calc((200% - 25px) / 3);
    
}
.left{
    width: 50%;
    padding: 40px 0 0 25px;
}
.right{
    width: 50%;
}

.right .img-sez1{
    width: 100%;
    display: block;
    padding: 70px 70px 0 0;
}

.p-sez1{
    margin: 40px 0;
    line-height: 30px;
    color: #5a6e7f;
    font-size: 18px;
    font-weight: bold;
}

.text-sez1{
    font-size: 24px;
    color: #0084fd;
}

.btn-app{
    padding: 8px 55px;
    border-radius: 25px;
    font-size: 15px;
    background-color: #0084fd;
    color: #ffffff;
    font-weight: bolder;
    letter-spacing: 2px;
    cursor: pointer;
}

.fa-apple{
    margin-right: 5px;
}

.blocco-mini{
    display: block;
    text-align: center;
    padding: 30px 25px 0 25px;
}

.icon{
    font-size: 60px;
    color: #0084fd;
    padding-bottom: 25px;
}

/* /seazione 1 */

/* sezione2 */

.sezione2-cont{
    background-color: #9792e4;
}
 .sezione2{
    height: 930px;
    display: flex;
    flex-wrap: wrap;
    padding: 135px 135px 35px 135px;
    align-items: end;
    gap: 65px;
    
 }

 .sez2-left{
    height: 100%;
    background-color: red;
    width: calc(100% / 2 - 65px);
 }

 .sez2-right{
    height: 70%;
    background-color: red;
    width: calc(100% / 2);
 }


/* /sezione2 */

/* sezione3 */

.sezione3{
    padding: 65px 0 110px 0;
    display: flex;
    flex-direction: column;
    gap: 35px;
    
}

.blocco-sez3{
    height: 280px;
    width: 100%;
    background-color: #9792e4;
    border-radius: 50px;
}

/* /sezione3 */

/* sezione4 */

.sezione4{
    padding: 75px 0 65px 0;
    
}

.blocco-sez4{
    width: calc((100% - 60px) / 3);
    background-color: #ffffff;
    height: 420px;
    border-radius: 20px;
}

.sezione4-cont{
    background-color: #9792e4;
}

.blocchi-sez4{
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
}

.testo-sez4{
    padding-bottom: 70px;
}
/* /sezione4 */

/* sezione5 */

.sez5-cont{
    display: flex;
    height: 885px;
    gap: 100px;
    padding: 95px 45px 165px 45px;
}


.sez5-left{
    height: 100%;
    background-color: red;
    width: calc(200% / 2 - 100px);
 }

 .sez5-right{
    height: 70%;
    background-color: red;
    width: calc(80% / 2);
 }
/* /sezione5 */

/* sezione6 */

.sezione6-cont{
    background-color: #9792e4;
}

.sezione6{
    height: 625px;
}

/* /sezione6 */

/* /main */

/* footer */

.foot-cont{
   background-color: #333333; 
}

.footer-sez{
    height: 225px;
}

/* /footer */




/* responsive */

/* tablet da 0 a 992 */

@media screen and (max-width: 992px) { 
    
    /* header */
    .list-nav{
        display: none;
    }
    .menu-icon{
        display: block;
    }
    .mini-cont{
        padding: 0 30px;
    }
    /* /header */

    /* main */
    
    /* sezione1 */
    .sezione1{
        padding-top: 50px;    
        padding-bottom: 105px;
    }

    .blocco{
        display: block;
    }
    .left{
        width: 70%;
    }
    .right{
        width: 60%;
    }

    



    /* /sezione1 */

    /* sezione2 */
    .sezione2{
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 135px;
    padding-bottom: 60px;
    }

    .sez2-left, .sez2-right{
        width: 100%;
    }
    /* /sezione2 */

    /* sezione3 */
    .sezione3{
        padding-top: 65px;
        padding-bottom: 110px;
    }
    /* sezione3 */
    
    /* sezione4 */
    .blocchi-sez4{
         padding-bottom: 65px;
    }

    .blocco-sez4{
        width: calc((100% - 30px) / 2); 
    }

    .testo-sez4{
        padding: 75px 0;
    }
    /* /sezione4 */
    
    /* sezione5 */
    /* /sezione5 */

    /* sezione6 */
    /* /sezione6 */

    
    /* /main */

    /* footer */
    /* /footer */
   
}
/* mobile da 0 a 768 */

@media screen and (max-width: 768px) {
    
    /* header */
    .fa-bars{
        font-size: 1.625rem;
     }
     /* /header */

     /* main */

     /* sezione1 */

     .sezione1{
        display: block;
        max-width: 768px;
     }

     .blocco{
        display: block;
        width: 100%;
     }

     .left,
     .right{
        width: 100%;
        padding: 20px 25px 0 25px;
        text-align: start;
     }

     .img-sez1{
        width: 100%;
        margin-left: 35px;
     }

     .blocco{
        margin-bottom: 25px;
     }

     .blocco-mini{
        padding-bottom: 25px;
     }
   
     

    /* /sezione1 */

    /* sezione2 */
    /* sezione2 */

     /* sezione3 */
    /* sezione3 */
    
    /* sezione4 */
   
   .blocco-sez4{
       width: 100%; 
   }
    /* /sezione4 */

    /* sezione5 */

    .sez5-cont{
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        padding-bottom: 80px;
    }
    
    .sez5-left{
        height: 100%;
        background-color: red;
        width: 100%;
     }
    
     .sez5-right{
        height: 70%;
        background-color: red;
        width: 100%;
     }
    /* /sezione5 */

    /* sezione6 */
    /* /sezione6 */

    /* /main */

    /* footer */
    /* /footer */
}
